extends layout

block content
  link(rel='stylesheet' href='/stylesheets/apartman.css')
  .text-apartments
    h2.apartments Apartmani
    p.apartments-dscr
      | Maximus apartmani su luksuzni apartmani smešteni u centru grada Niša. U našoj ponudi su 4 potpuno opremljena apartmana različite kvadrature. Svi apartmani su moderni, klimatizovani i korisnicima pružaju potpuno zadovoljstvo i uslugu. Kućni ljubimci su dobrodošli u svim našim apartmanima. U okolini Maximus apartmana nalaze se brojne prodavnice hrane, teretane, igraonice za decu, kafići, restorani, frizerski i kozmetički saloni. Na samo 5 minuta hoda je pešačka zona i centar grada, dok su niška Tvrdjava i park Čair udaljeni 15ak minuta hoda.  
    #carouselExampleControls.carousel.slide(data-ride='carousel')
      .carousel-inner
        each val in images
          if val.active
            .carousel-item.active
              img.d-block.w-100(src='#{val["src"]}')   
          else
            .carousel-item
              img.d-block.w-100(src='#{val["src"]}')
      a#prev.carousel-control-prev(href='#carouselExampleControls' role='button' data-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.sr-only Previous
      a#next.carousel-control-next(href='#carouselExampleControls' role='button' data-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.sr-only Next
    h2.name #{name}
    .opis
      ul.details(style='list-style-type:none;')
        li.detail
          img(src="https://img.icons8.com/ios-glyphs/30/000000/star--v1.png")
          h3.nalov-detalja Detalji apartmana
      hr      
      ul.lista
        each val in features
          li.dsc 
            img.grid(src='#{val["icon"]}')
            |     #{val["title"]}
