extends layout

block content
  link(rel='stylesheet' href='/stylesheets/apartman.css')
  .text-apartments
    h2.apartments #{__('apartments')}
    p.apartments-dscr
      | #{__('apartments_description')}
    #carouselExampleControls.carousel.slide(data-bs-ride='carousel')
      .carousel-inner
        each val in images
          if val.active
            .carousel-item.active
              img.d-block.w-100(src='#{val["src"]}')   
          else
            .carousel-item
              img.d-block.w-100(src='#{val["src"]}')
      button.carousel-control-prev(type='button' data-bs-target='#carouselExampleControls' data-bs-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.visually-hidden Previous
      button.carousel-control-next(type='button' data-bs-target='#carouselExampleControls' data-bs-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.sr-only Next
    .apartment_name
      h2.name #{name}
      if features
        .opis
          ul.details(style='list-style-type:none;')
            li.detail
              img(src="https://img.icons8.com/ios-glyphs/30/000000/star--v1.png")
              h3.naslov-detalja #{__('details')}
          hr      
          ul.lista
            each val in features
              li.dsc 
                img.grid(src='#{val["icon"]}')
                |     #{val["title"]}
      if kitchen
        .opis
          ul.details(style='list-style-type:none;')
            li.detail
              img(src="https://img.icons8.com/ios-glyphs/30/000000/star--v1.png")
              h3.naslov-detalja #{__('kitchen')}
          hr      
          ul.lista
            each val in kitchen
              li.dsc 
                img.grid(src='#{val["icon"]}')
                |     #{val["title"]}
      if bathroom
        .opis
          ul.details(style='list-style-type:none;')
            li.detail
              img(src="https://img.icons8.com/ios-glyphs/30/000000/star--v1.png")
              h3.naslov-detalja #{__('bathroom')}
          hr      
          ul.lista
            each val in bathroom
              li.dsc 
                img.grid(src='#{val["icon"]}')
                |     #{val["title"]}
