extends layout

block content
  img.img-nis(src='/images/naslovna/apartman-sredjeni.jpg' alt='Apartman kuca')
  section#dobrodosli.dobrodosli
    h1.uvod #{__('welcome')}
    p.p-uvoda
      | #{__('index_intro_1')}
      br
      br
      | #{__('index_intro_2')}
  section#apartmani.apartmani
    .apartmani-tekst
      h2.naziv-apartmana Apartman 1  (32m<sup>2</sup>)
      p.opis-sobe
        | #{__('apartment1_description')}
      .btn
        a(href='/#{locale}/apartmani/1')
          button.detaljnije #{__('read_more')}
    img.apartmani-slika(src ="/images/ap1.jpg" alt='apartman 1')
  section#apartmani.apartmani
    .apartmani-tekst
      h2.naziv-apartmana Apartman 2  (27m<sup>2</sup>)
      p.opis-sobe
        | #{__('apartment2_description')}
      .btn
        a(href='/#{locale}/apartmani/2')
          button.detaljnije #{__('read_more')}
    img.apartmani-slika(src ="/images/ap2.jpg" alt='apartman 2')
  section#apartmani.apartmani
    .apartmani-tekst
      h2.naziv-apartmana Apartman 3  (40m<sup>2</sup>)
      p.opis-sobe
        | #{__('apartment3_description')}
      .btn
        a(href='/#{locale}/apartmani/3')
          button.detaljnije #{__('read_more')}
    img.apartmani-slika(src ="/images/ap3.jpg" alt='apartman 3')
  section#apartmani.apartmani
    .apartmani-tekst
      h2.naziv-apartmana Apartman 4  (36m<sup>2</sup>)
      p.opis-sobe
        | #{__('apartment4_description')}
      .btn
        a(href='/#{locale}/apartmani/4')
          button.detaljnije #{__('read_more')}
    img.apartmani-slika(src ="/images/ap4.jpg" alt='apartman 4')
  p.p-location #{__('location_description')}
  section#kontakt
   .location
    .map
      iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2902.9292924950028!2d21.889062315278558!3d43.3157395791343!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4755b16294648281%3A0x5af7dd73f9945883!2sMaximus%20apartmani!5e0!3m2!1sen!2srs!4v1632926871578!5m2!1sen!2srs' width='600' height='450' style='border:0;' allowfullscreen='' loading='lazy')
    .contact
      .item1
        h2.uppercase #{__('contact')}
        .grid
          .icon
            i.fa.fa-phone(style='font-size:1.5em')
          .dscr
            p +38163 74 04 550
        .grid
          .icon
            i.fa.fa-envelope(style='font-size:1.5em')
          .dscr
            a(href='mailto:maximap193@yahoo.com') maximap193@yahoo.com
      .item2
        h2.uppercase #{__('reservation')}
        .booknow
        a(href='https://www.booking.com/' target='_blank')
          button.booking Booking.com
        a(href='https://www.airbnb.com/' target='_blank')
          button.airbnb Airbnb
  script(src="/javascripts/index.js")
